.body {
  font-family: "Lato";
  font-size: 16px;
  min-height: 50vh;
  width: 93%;
  background-color: var(--main-color);
  margin: 0 auto;
  background-color: var(--secondary-light-color);
  border-radius: 39px;
}

h1 {
  margin: 0 auto;
  /* width: 100%; */
  color: var(--main-color);
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 24px;
  border-bottom: 1px solid var(--main-color);
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  min-height: 75vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #ffcdb2;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#b5838d 25%, #ffcdb2 0);
}
.circle.per-50 {
  background-image: conic-gradient(#b5838d 50%, #ffcdb2 0);
}
.circle.per-75 {
  background-image: conic-gradient(#b5838d 75%, #ffcdb2 0);
}
.circle.per-100 {
  background-image: conic-gradient(#b5838d 100%, #ffcdb2 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: var(--main-color);
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
